<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
     
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net configSource="log4net.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="mesip" value="zx123456"/>
    <add key="mesport" value="zx123456"/>
    <add key="devicecode" value="fct001"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="connectionString" connectionString="Server=59.110.156.12;Database=test; User ID=vcps;Password=1qazxs;port=3306;pooling=true" providerName="MySql.Data.MySqlClient"/>-->

 <add name="connectionString" connectionString="Server=127.0.0.1;Database=test; User ID=root;Password=123456;port=3306;pooling=true" providerName="MySql.Data.MySqlClient"/>
  
  </connectionStrings>
</configuration>
